.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(239, 239, 32, 0.671), 
    rgba(239, 239, 32, 0.671)), 
    url('https://wallpaperaccess.com/full/3137230.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 120vw;
    height: 120vh;
    margin-top: -20px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    backdrop-filter: grayscale(0.5) opacity(0.8) invert(20);
  }

.content{
    left: 0;
    right: 0;
    z-index: -1;
}

.content::-webkit-scrollbar {
    width: 0.25rem;
}
  
.content::-webkit-scrollbar-track {
    background: var(--scroll-track);
}
  
.content::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
}


