.typing-text {
    width: 28.3rem;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: "Dancing Script";
    font-weight: bold;
    color: var(--text-normal);
    font-size: 3em;
    z-index: -1;

    @media (min-width: 700px){

    }

    @media (min-width: 1000px){
      margin-left: 10rem;
    }

    @media (min-width: 1200px){
      margin-left: 3rem;
    }

    @media (min-width: 1400px){
      
    }
    @media (min-width: 1600px){
      margin-left: 0;
    }
}
  
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}